span
    {
    font-style: italic;
    color: #f05033;
    }
h1
    {
    font-size: 500%;
    text-align: center;
    }

h2
    {
    margin-top: 50px;
    margin-bottom: 250px;
    text-align: center;
    }
h3
    {
    text-align: center;
    margin-bottom: 75px;
    }

img.logo 
    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    }
.jumbotron
    {
    background-color: white;
    margin-top: 100px;
    }
.page
    {
    padding-top: 50px;
    height: 775px;
    }
.navbar
    {
    position: fixed;
    }
#first 
    {
    background-color: aquamarine;
    }
#untracked 
    {
    background-color: orange;
    }
#staged 
    {
    background-color: blue;
    }
#committed 
    {
    background-color: red;
    }
#pushed 
    {
    background-color: saddlebrown;
    }
#lost
    {
    color: black;
    background-color: lightgray;
    }
